<form [formGroup]="movieForm">
  <h1>Movie Form</h1>
  <label>Name</label>
  <input type="text" formControlName="title" />
  <label>Year</label>
  <input type="number" formControlName="year" />
  <label>Genre</label>
  <select formControlName="genre">
    <option *ngFor="let genre of ['horror', 'psy-fi', 'drama']" [value]="genre">{{genre}}</option>
  </select>
  <label>Main Star (typeahead)</label>
  <typeahead
    formControlName="mainStar"
    [list]="stars"
    [searchProperty]="'searchText'"
    [displayProperty]="'name'"
    [maxSuggestions]="4"
    (suggestionSelected)="selectMainStar($event)"
    [async]="true"
    (textTyped)="getStars($event)">
  </typeahead>
  <label>Origin (typeahead)</label>
  <input-boolean formControlName="foreign"></input-boolean>
  <hr>

  <h4>Raw data in "movieForm.value":</h4>
  <p>{{movieForm.value | json}}</p>

  <div>
    <h4>Detail</h4>
    <p>
      <strong>{{movieForm.value?.title}}</strong> 
      is a <strong>{{movieForm.value?.foreign ? 'foreign' : 'national'}}</strong> movie 
      from <strong>{{movieForm.value?.year}}</strong> 
      of the <strong>{{movieForm.value?.genre}}</strong> genre, 
      staring <strong>{{movieForm.value?.mainStar}}</strong>
    </p>
  </div>

</form>